* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #32C2B9;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00686C;
    height: 5rem;
    width: 100vw;
    border: 0.2rem;
}

.cabecalho-titulo {
    font-weight: 700;
    font-size: 2rem;
    margin-right: 8rem;
    margin-left: 30rem;
}

.cabecalho-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 10rem;
    margin-left: 10rem;
}

.cabecalho-logo-imagem {
    height: 2.5rem;
    width: 2.5rem;
}

.principal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 438.5px;

}

.principal-formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 40px;
    max-width: 900px;
    margin: 0 auto;
}

.principal-formulario-campo {
    display: flex;
    flex-direction: column;
}

.principal-formulario-campo input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    background-color: #fff;
    color: #333;
    transition: all 0.3s ease
}

.principal-formulario-botao-acoes-salvar {
    grid-column: span 2;
    /* ocupa as duas colunas */
    justify-self: center;
    /* centraliza horizontalmente */
    padding: 8px 20px;
    outline: none;
    height: 40px;
    width: 130px;
    text-align: center;
    border-radius: 8px;
    background: #fff;
    border: 2px solid #EDECB3;
    /* verde */
    color: #2e2e21;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

.principal-formulario-botao-acoes-salvar:hover {
    color: white;
    background: #FAD928;
}

.principal-formulario-botao-acoes-salvar:active {
    letter-spacing: 2px;
}

.principal-formulario-botao-acoes-salvar::after {
    content: "SALVAR";

}

.principal-formulario-botao-acoes-excluir {
    grid-column: span 2;
    /* ocupa as duas colunas */
    justify-self: center;
    /* centraliza horizontalmente */
    padding: 8px 20px;
    outline: none;
    height: 40px;
    width: 130px;
    text-align: center;
    border-radius: 8px;
    background: #fff;
    border: 2px solid #EDECB3;
    /* verde */
    color: #2e2e21;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

.principal-formulario-botao-acoes-excluir:hover {
    color: white;
    background: #FAD928;
}

.principal-formulario-botao-acoes-excluir:active {
    letter-spacing: 2px;
}

.principal-formulario-botao-acoes-excluir::after {
    content: "EXCLUIR";
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00686C;
    height: 5rem;
    width: 100vw;
    border: 0.2rem;
}