* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #012E40;
}

.contenier-login {
    display: flex;
    background-color: #026773;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 350px;
    padding: 18px 18px;
    min-height: 320px;
    overflow: hidden;
    margin: 0;
}

.contenier-login header,
.contenier-login main,
.contenier-login footer {
    width: 100%;
    margin: 0;
    padding: 0;
}

.contenier-login-cabecalho{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
    padding: 6px 0;
}

.contenier-login-sessao{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 6px;
    margin: 0;
    width: 100%;
    flex: 1 0 auto;
    box-sizing: border-box;
}

.contenier-login-sessao-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenier-login-sessao-formulario input{
    margin: 5px auto;
    width: 100%;
    padding: 8px;
    border: 2px solid #333;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s;
}

.contenier-login-sessao-botaoEntrar {
    display: block;
    margin: 10px auto;
    width: 100%;
    padding: 8px;
    background-color: #87CEEB;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contenier-login-sessao-cadastro {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.contenier-login-sessao-cadastro:hover{
    color: #333;
    text-decoration: none;
}

.contenier-login-rodape{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
    padding: 8px 0;
}

.contenier-cadastro{
    display: flex;
    background-color: #026773;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 350px;
    padding: 18px 18px;
    min-height: 440px;
    overflow: hidden;
    margin: 0;
}

.contenier-cadastro header,
.contenier-cadastro main,
.contenier-cadastro footer {
    width: 100%;
    margin: 0;
    padding: 0;
}

.contenier-cadastro-cabecalho{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
    padding: 8px 0 12px 0;
}

.contenier-cadastro-sessao{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 6px;
    margin: 0;
    width: 100%;
    flex: 1 0 auto;
    box-sizing: border-box;
}

.contenier-cadastro-sessao-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenier-cadastro-sessao-formulario input{
    margin: 5px auto;
    width: 100%;
    padding: 8px;
    border: 2px solid #333;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s;
}

.contenier-cadastro-sessao-botaoEntrar{
    display: block;
    margin: 10px auto;
    width: 100%;
    padding: 8px;
    background-color: #87CEEB;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contenier-cadastro-sessao-cancelar{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.contenier-cadastro-sessao-cancelar:hover{
    color: #333;
    text-decoration: none;
}

.contenier-cadastro-rodape{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
    padding: 10px 0 6px 0;
}