body {
    background-color: orange;
}


.conteudo-topo {
    box-sizing: border-box;
    display: flex;
    margin-top: 20px;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px;
 
}

.linha {
    border: 2px solid black;
}

img {
    width: 150px;
    height: auto;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
    font-size: 20px;
    font-weight: bold;

}

html {
  scroll-behavior: smooth;
}

.conteudo-titulo {
    box-sizing: border-box;
    display: flex;
    margin-top: 20px;
    align-items: center;
    margin: 0px 40px;
    padding: 0px 20px;
    flex-direction: column; 
    text-align: center;

}

.parceria {
    width: 500px;
    height: auto;
    margin-top: 20px;
}

.sobre {
    text-align: center;
    margin-top: 50px;
}

.conteudo-sobre{
    box-sizing: border-box;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 0px 100px;
    padding: 0px 20px;
    flex-direction: column; 
    text-align: center;
    border: black solid 1px;
    margin-top: 25px;
    
}

.produtos {
    text-align: center;
}

.produtos-colunas {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 50px;
    margin: 0 auto;

}

.creatina-darklab h2, .creatina-sharkpro h2, .creatina-max h2 {
    margin: 10px 5px;
}

.creatina-darklab ul, .creatina-sharkpro ul, .creatina-max ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.creatina-darklab ul li, .creatina-sharkpro ul li, .creatina-max ul li {
    margin: 5px 10px;
}

.creatina-darklab {
    width: 200px;
    height: 200px;
    border: black solid 2px;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.creatina-sharkpro {
    width: 200px;
    height: 200px;
    border: black solid 2px;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.creatina-max {
    width: 200px;
    height: 200px;
    border: black solid 2px;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.valor {
    background-color: black;
    display:flex;
    color: white;
    padding: 10px;
    align-items: flex-end;

}
