body {
    margin: 0;
}

.fundo {
    background-color: #712E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.fundo-conteudo {
    background-color: bisque;
    width: 70rem;
    height: 30rem;
    border-radius: 10px;
    display: flex;
    align-items: inline;
}

.fundo-conteudo-reparticao1 {
    background-color: #888870;
    width: 30%;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.fundo-conteudo-reparticao1-opcoes {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5rem;
}

.fundo-conteudo-reparticao1-opcoes button {
    width: 5rem;
}

.fundo-conteudo-reparticao1-filtro{
    background-color: #888870;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.fundo-conteudo-reparticao1-ordem {
    background-color: #888870;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fundo-conteudo-reparticao2 {
    background-color: #E59A59;
    width: 70%;
    padding: 2rem;
    /* permite scroll vertical se houver muitos cards */
    overflow-y: auto;
    border-radius: 0 10px 10px 0;
}

/* essa parte eu n達o entendi, por que ele da buscando o id de uma div que ainda n達o nada adicionado.
E por que n達o o estilo n達o deveria ser a aplicado na div que estou inserindo via javascript ? */
#produtos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: start;
    align-content: start;
}

.fundo-conteudo-reparticao2-card{
    background-color: #FFD5AF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: auto;
    padding: 1rem;
    gap: 0.5rem;
}